{% extends "notes/base.html" %}

{% load static %}

{% block content %}

<!-- form note edit -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Creat Project </h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>



    {% block extrahead %}
    <script>
        window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';
    </script>
    {{ block.super }}
    {% endblock %}


    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
