{% extends "notes/base.html" %}
{% load static %}



{% block content %}
    <h1>{{ note.title }}</h1>
<br>
<hr>
<img src="{{ note.image_name.url }}" width="100%" height="225" role="img" alt="{{ note.title }}">

    <p>{{ note.content | safe }}</p>
    <p>{{ note.created }}</p>
    <p>{{ note.updated }}</p>
   here:  <p> {{ note.image_name.url }} </p>

<a href="{% url 'note-list' %}" class="btn btn-secondary">Go Back</a> 
<a href="{% url 'note-delete' note.pk %}" class="btn btn-danger">Delete Note</a> 
<script>
$(document).ready(function() {
    // Bind the click event to the delete button
    $('#deleteBtn').click(function() {
        var deleteUrl = $(this).data('url'); // Get the URL from the button data attribute

        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = deleteUrl; // Redirect to the delete URL
            }
        });
    });
});



const deleteBtn = document.get

</script>


{% endblock %}

