{% extends "notes/base.html" %} 

{% load static %}

{% block extrastyle %}
  {% include 'notes/sidebars/sidebars.css' %}  
{% endblock extrastyle %}
    


{% block content %}


{% include 'notes/sidebars/sidebars.html' %}

    <h2>{{ profile.user.username }}'s Profile</h2>
    <p>Bio: {{ profile.bio }}</p>
    <p>Location: {{ profile.location }}</p>
    <p>Birth Date: {{ profile.birth_date }}</p>


    
    <a href="{% url 'notes:profile_update' pk=request.user.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'notes:profile_delete' pk=request.user.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'notes:note-create' %}" class="btn btn-secondary">Create Note </a> 
    <a href="{% url 'notes:note-list' %}" class="btn btn-info">My Notes </a> 
    <a href="{% url 'notes:profile_list' %}" class="btn btn-info">Back to Profiles</a> 

   {% comment %} {% endcomment %}



{% endblock content %}


{% block extrascripts %}
    {% include 'notes/sidebars/sidebars.css' %}
{% endblock extrascripts %}
    