{% extends 'norjiras/plannings/project_planning_dashboard.html' %}

{% load static %}
{% block title %}

<!-- IF PROJECT ? NAME OR USERNAME -->


{% endblock %}

<div class="content-area overflow-y: scroll; overflow-y: auto">
  {% block content_dashborad %}


  {% if issue.issue_type.icon %}
  <img src="{{ issue.issue_type.icon.url }}" alt="{{ issue.issue_type.name }}" width="24">

    {% else %}
 ahhahah    
{% endif %}
<h2>{{ issue.title }}</h2>
<p>{{ issue.description }}</p>





  {% endblock %}
</div>