
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'norjiras/css/project_plans_base.css' %}">

</head>
<body>

<div class="dashboard-wrapper">
  <div class="sidebar">
    <h5><i class="bi bi-journal-code"></i> NOTETAKING</h5>
    <a href="{% url 'norjiras:summary' %}"><i class="bi bi-globe2"></i> Summary</a>
    <a href="{% url 'norjiras:timeline' %}"><i class="bi bi-hourglass-split"></i> Timeline</a>
    <a href="{% url 'norjiras:backlog' %}"><i class="bi bi-stack"></i> Backlog</a>
    <a href="{% url 'norjiras:board' %}"><i class="bi bi-kanban"></i> Board</a>
    <a href="{% url 'norjiras:calendar' %}"><i class="bi bi-calendar-week"></i> Calendar</a>
    <a href="{% url 'norjiras:list' %}"><i class="bi bi-card-list"></i> List</a>
    <a href="{% url 'norjiras:forms' %}"><i class="bi bi-ui-checks"></i> Forms</a>
    <a href="{% url 'norjiras:goals' %}"><i class="bi bi-bullseye"></i> Goals</a>
    <a href="{% url 'norjiras:allwork' %}"><i class="bi bi-check2-square"></i> All Work</a>
    <a href="{% url 'norjiras:reports' %}"><i class="bi bi-bar-chart-line"></i> Reports</a>
  </div>
  <div class="content-area overflow-y: scroll; overflow-y: auto">
    {% block content_dashborad %}
    {% endblock  %}
  </div>
</div>    
</body>
</html>